<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>杭州市环保产业协会</title>

  <link rel="icon" href="/images/TriTanium.png" type="/images/x-icon"/>

  <link rel="stylesheet" type="text/css" href="/styles/basic.css" media="all" />
  <%= javascript_include_tag 'jquery' %></head>
<body>

  <!-- 页头 -->
  <div class="top">
    <div class="w980">
      <img src="/images/logo.png" />
      <ul>
        <li <%if @forum ==nil %> class="c" <%end%>>
          <a href="/">首 页</a>
        </li>

        <% @forum_first.each do |forum| %>
        <li <%if @forum !=nil && forum.id ==  @forum.id%> class="c" <%end%>>
          <%=link_to forum.name,"/homes/forums/#{forum.id}"%></li>
        <%end%></ul>
    </div>
  </div>
  <!-- 内容 -->
  <div class="w1000">
    <%= yield %>

 <!-- 友情链接 -->
    <div class="box-7">
      <strong>友情链接：</strong>
       <%FriendLink.find(:all).each do |link|%>
          <%=link_to link.name,link.url,:target=>"_blank",:style=>"width:10%"%>
          <%end%>
    </div>
    
    <div class="box-8">
      <p>
          <a href="#">网站简介</a>|
            <a href="#">广告服务</a>|
            <a href="#">网站地图</a>|
            <a href="#">帮助信息</a>|
            <a href="#">联系方式</a>
        </p>
    <p>Copyright 杭州市环保产业协会 2013</p>
    
    </div>

  </div>
</body>
</html>
